# Optimal Portfolio Creation

## Introduction

In this notebook, I will discuss the process of creating optimal risky portfolio from the securities in Dhaka Stock Exchange. This is a course requirements for this semesters Investment and Portfolio Analysis of IBA MBA. The course is taken by Mrs Shakila Yasmin. I will discuss the process from collecting historical data, storing in usable format and preprocessing for analysis to creating investable portfolio. Its will be a wild ride. Hope you all enjoy it.

## Outlines

- Scrap or collect historical data of all securities in DSE
- Store it MongoDb for easy collection and use
- Create an nodejs api for easy collection to use in Pandas [optional]
- Get Data for specific securities, do a base line analysis and derive decision particulars
- From particular of all the securities sort the best numbers of securities
- Get/Scrap fundamentals data from annual report and store in database and create retrieve api
- Do fundamental analysis of securities to find undervalued and overvalued stocks
    - Divident Discount Model
    - Free Cashflow Model
    - Earnings Multiplier Model
    - Ratio Analysis
- Do technical analysis with prophet, regression and machine learning techniques
- Select the best 5 and make all optimum portfolio combination of two stocks
- Select the best one and allocate funds along with risk free asset based on investor risk aversion
    - Figure out riskfree rate
    - Figure out risk aversion ( score card method )
- Invest and update the process along the way


__Special Requirement__
- Use latex for Report and use versioning
- Make a visualization frontend with vue

## Lets Begin

### Scraping the Data

In [1]:
# importing modules necessary
import pandas as pd
import requests as req
from pymongo import MongoClient
from bs4 import BeautifulSoup
import datetime

In [2]:
client = MongoClient('localhost', 27017)

In [3]:
db = client.dsedb
daily_stock = db.daily_stock

In [4]:
url = "https://www.dsebd.org/day_end_archive.php"
start = "2018-09-02"
end = "2019-09-02"
symbol = "All Instrument"
button = "View Day End Archive"
form = {
    "DayEndSumDate1" : start,
    "DayEndSumDate2" : end,
    "Symbol" : symbol,
    "ViewDayEndArchive" : button
}

In [20]:
html = req.post(url, data = form)
print(html)
source = BeautifulSoup(html.content)

<Response [200]>

In [21]:
table = source.select_one("body > table:nth-child(9) > tbody > tr > td:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(1) > table ")

body > table:nth-child(9) > tbody > tr > td:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(1) > table
/html/body/table[2]/tbody/tr/td[2]/table/tbody/tr[2]/td[1]/table

In [22]:
df = pd.read_html(table.prettify())[0]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108726 entries, 0 to 108725
Data columns (total 12 columns):
0     108726 non-null object
1     108726 non-null object
2     108726 non-null object
3     108726 non-null object
4     108726 non-null object
5     108726 non-null object
6     108726 non-null object
7     108726 non-null object
8     108726 non-null object
9     108726 non-null object
10    108726 non-null object
11    108726 non-null object
dtypes: object(12)
memory usage: 10.0+ MB

In [63]:
help(df.rename)

Help on method rename in module pandas.core.frame:

rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None, errors='ignore') method of pandas.core.frame.DataFrame instance
    Alter axes labels.

    Function / dict values must be unique (1-to-1). Labels not contained in
    a dict / Series will be left as-is. Extra labels listed don't throw an
    error.

    See the :ref:`user guide <basics.rename>` for more.

    Parameters
    ----------
    mapper : dict-like or function
        Dict-like or functions transformations to apply to
        that axis' values. Use either ``mapper`` and ``axis`` to
        specify the axis to target with ``mapper``, or ``index`` and
        ``columns``.
    index : dict-like or function
        Alternative to specifying axis (``mapper, axis=0``
        is equivalent to ``index=mapper``).
    columns : dict-like or function
        Alternative to specifying axis (``mapper, axis=1``
        is equivalent to ``columns=mapper``).
    axis : int or str
        Axis to target with ``mapper``. Can be either the axis name
        ('index', 'columns') or number (0, 1). The default is 'index'.
    copy : bool, default True
        Also copy underlying data.
    inplace : bool, default False
        Whether to return a new DataFrame. If True then value of copy is
        ignored.
    level : int or level name, default None
        In case of a MultiIndex, only rename labels in the specified
        level.
    errors : {'ignore', 'raise'}, default 'ignore'
        If 'raise', raise a `KeyError` when a dict-like `mapper`, `index`,
        or `columns` contains labels that are not present in the Index
        being transformed.
        If 'ignore', existing keys will be renamed and extra keys will be
        ignored.

    Returns
    -------
    DataFrame
        DataFrame with the renamed axis labels.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis and
        "errors='raise'".

    See Also
    --------
    DataFrame.rename_axis : Set the name of the axis.

    Examples
    --------

    ``DataFrame.rename`` supports two calling conventions

    * ``(index=index_mapper, columns=columns_mapper, ...)``
    * ``(mapper, axis={'index', 'columns'}, ...)``

    We *highly* recommend using keyword arguments to clarify your
    intent.

    Rename columns using a mapping:

    >>> df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
    >>> df.rename(columns={"A": "a", "B": "c"})
       a  c
    0  1  4
    1  2  5
    2  3  6

    Rename index using a mapping:

    >>> df.rename(index={0: "x", 1: "y", 2: "z"})
       A  B
    x  1  4
    y  2  5
    z  3  6

    Cast index labels to a different type:

    >>> df.index
    RangeIndex(start=0, stop=3, step=1)
    >>> df.rename(index=str).index
    Index(['0', '1', '2'], dtype='object')

    >>> df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")
    Traceback (most recent call last):
    KeyError: ['C'] not found in axis

    Using axis-style parameters

    >>> df.rename(str.lower, axis='columns')
       a  b
    0  1  4
    1  2  5
    2  3  6

    >>> df.rename({1: 2, 2: 4}, axis='index')
       A  B
    0  1  4
    2  2  5
    4  3  6

In [25]:
df = df.rename(df.iloc[0], axis=1)[1:]

In [26]:
df = df.drop('#', axis=1)

In [27]:
df['Date'] = pd.to_datetime(df['DATE'])

In [28]:
df = df.set_index('Date')

In [29]:
df.head()

,DATE,TRADING CODE,LTP*,HIGH,LOW,OPENP*,CLOSEP*,YCP,TRADE,VALUE (mn),VOLUME
Date,,,,,,,,,,,
2019-09-02,2019-09-02,1JANATAMF,4.1,4.2,4,4.1,4.1,4.1,74,2.146,528369
2019-09-01,2019-09-01,1JANATAMF,4.1,4.2,4.1,4.2,4.1,4.2,98,1.471,357297
2019-08-29,2019-08-29,1JANATAMF,4.1,4.3,4.1,4.2,4.2,4.2,115,1.974,469941
2019-08-28,2019-08-28,1JANATAMF,4.2,4.3,4.1,4.3,4.2,4.4,137,1.956,467646
2019-08-27,2019-08-27,1JANATAMF,0,0,0,0,4.4,4.4,0,0,0

In [30]:
df = df.drop('DATE', axis=1)

In [31]:
df.head()

,TRADING CODE,LTP*,HIGH,LOW,OPENP*,CLOSEP*,YCP,TRADE,VALUE (mn),VOLUME
Date,,,,,,,,,,
2019-09-02,1JANATAMF,4.1,4.2,4,4.1,4.1,4.1,74,2.146,528369
2019-09-01,1JANATAMF,4.1,4.2,4.1,4.2,4.1,4.2,98,1.471,357297
2019-08-29,1JANATAMF,4.1,4.3,4.1,4.2,4.2,4.2,115,1.974,469941
2019-08-28,1JANATAMF,4.2,4.3,4.1,4.3,4.2,4.4,137,1.956,467646
2019-08-27,1JANATAMF,0,0,0,0,4.4,4.4,0,0,0

In [32]:
df = df.rename(columns = {'Date': 'DATE'})

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 108725 entries, 2019-09-02 to 2019-01-28
Data columns (total 10 columns):
TRADING CODE    108725 non-null object
LTP*            108725 non-null object
HIGH            108725 non-null object
LOW             108725 non-null object
OPENP*          108725 non-null object
CLOSEP*         108725 non-null object
YCP             108725 non-null object
TRADE           108725 non-null object
VALUE (mn)      108725 non-null object
VOLUME          108725 non-null object
dtypes: object(10)
memory usage: 9.1+ MB

In [34]:
df.head()

,TRADING CODE,LTP*,HIGH,LOW,OPENP*,CLOSEP*,YCP,TRADE,VALUE (mn),VOLUME
Date,,,,,,,,,,
2019-09-02,1JANATAMF,4.1,4.2,4,4.1,4.1,4.1,74,2.146,528369
2019-09-01,1JANATAMF,4.1,4.2,4.1,4.2,4.1,4.2,98,1.471,357297
2019-08-29,1JANATAMF,4.1,4.3,4.1,4.2,4.2,4.2,115,1.974,469941
2019-08-28,1JANATAMF,4.2,4.3,4.1,4.3,4.2,4.4,137,1.956,467646
2019-08-27,1JANATAMF,0,0,0,0,4.4,4.4,0,0,0

In [37]:
help(df.to_dict)

Help on method to_dict in module pandas.core.frame:

to_dict(orient='dict', into=<class 'dict'>) method of pandas.core.frame.DataFrame instance
    Convert the DataFrame to a dictionary.

    The type of the key-value pairs can be customized with the parameters
    (see below).

    Parameters
    ----------
    orient : str {'dict', 'list', 'series', 'split', 'records', 'index'}
        Determines the type of the values of the dictionary.

        - 'dict' (default) : dict like {column -> {index -> value}}
        - 'list' : dict like {column -> [values]}
        - 'series' : dict like {column -> Series(values)}
        - 'split' : dict like
          {'index' -> [index], 'columns' -> [columns], 'data' -> [values]}
        - 'records' : list like
          [{column -> value}, ... , {column -> value}]
        - 'index' : dict like {index -> {column -> value}}

        Abbreviations are allowed. `s` indicates `series` and `sp`
        indicates `split`.

    into : class, default dict
        The collections.abc.Mapping subclass used for all Mappings
        in the return value.  Can be the actual class or an empty
        instance of the mapping type you want.  If you want a
        collections.defaultdict, you must pass it initialized.

        .. versionadded:: 0.21.0

    Returns
    -------
    dict, list or collections.abc.Mapping
        Return a collections.abc.Mapping object representing the DataFrame.
        The resulting transformation depends on the `orient` parameter.

    See Also
    --------
    DataFrame.from_dict: Create a DataFrame from a dictionary.
    DataFrame.to_json: Convert a DataFrame to JSON format.

    Examples
    --------
    >>> df = pd.DataFrame({'col1': [1, 2],
    ...                    'col2': [0.5, 0.75]},
    ...                   index=['row1', 'row2'])
    >>> df
          col1  col2
    row1     1  0.50
    row2     2  0.75
    >>> df.to_dict()
    {'col1': {'row1': 1, 'row2': 2}, 'col2': {'row1': 0.5, 'row2': 0.75}}

    You can specify the return orientation.

    >>> df.to_dict('series')
    {'col1': row1    1
             row2    2
    Name: col1, dtype: int64,
    'col2': row1    0.50
            row2    0.75
    Name: col2, dtype: float64}

    >>> df.to_dict('split')
    {'index': ['row1', 'row2'], 'columns': ['col1', 'col2'],
     'data': [[1, 0.5], [2, 0.75]]}

    >>> df.to_dict('records')
    [{'col1': 1, 'col2': 0.5}, {'col1': 2, 'col2': 0.75}]

    >>> df.to_dict('index')
    {'row1': {'col1': 1, 'col2': 0.5}, 'row2': {'col1': 2, 'col2': 0.75}}

    You can also specify the mapping type.

    >>> from collections import OrderedDict, defaultdict
    >>> df.to_dict(into=OrderedDict)
    OrderedDict([('col1', OrderedDict([('row1', 1), ('row2', 2)])),
                 ('col2', OrderedDict([('row1', 0.5), ('row2', 0.75)]))])

    If you want a `defaultdict`, you need to initialize it:

    >>> dd = defaultdict(list)
    >>> df.to_dict('records', into=dd)
    [defaultdict(<class 'list'>, {'col1': 1, 'col2': 0.5}),
     defaultdict(<class 'list'>, {'col1': 2, 'col2': 0.75})]

In [38]:
daily_stock.insert_many(df.to_dict('records'))

In [50]:
datetime.date.today().strftime("%Y-%m-%d")

'2019-09-03'

In [53]:
help(pd.date_range)

Help on function date_range in module pandas.core.indexes.datetimes:

date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)
    Return a fixed frequency DatetimeIndex.

    Parameters
    ----------
    start : str or datetime-like, optional
        Left bound for generating dates.
    end : str or datetime-like, optional
        Right bound for generating dates.
    periods : integer, optional
        Number of periods to generate.
    freq : str or DateOffset, default 'D'
        Frequency strings can have multiples, e.g. '5H'. See
        :ref:`here <timeseries.offset_aliases>` for a list of
        frequency aliases.
    tz : str or tzinfo, optional
        Time zone name for returning localized DatetimeIndex, for example
        'Asia/Hong_Kong'. By default, the resulting DatetimeIndex is
        timezone-naive.
    normalize : bool, default False
        Normalize start/end dates to midnight before generating date range.
    name : str, default None
        Name of the resulting DatetimeIndex.
    closed : {None, 'left', 'right'}, optional
        Make the interval closed with respect to the given frequency to
        the 'left', 'right', or both sides (None, the default).
    **kwargs
        For compatibility. Has no effect on the result.

    Returns
    -------
    rng : DatetimeIndex

    See Also
    --------
    DatetimeIndex : An immutable container for datetimes.
    timedelta_range : Return a fixed frequency TimedeltaIndex.
    period_range : Return a fixed frequency PeriodIndex.
    interval_range : Return a fixed frequency IntervalIndex.

    Notes
    -----
    Of the four parameters ``start``, ``end``, ``periods``, and ``freq``,
    exactly three must be specified. If ``freq`` is omitted, the resulting
    ``DatetimeIndex`` will have ``periods`` linearly spaced elements between
    ``start`` and ``end`` (closed on both sides).

    To learn more about the frequency strings, please see `this link
    <http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases>`__.

    Examples
    --------
    **Specifying the values**

    The next four examples generate the same `DatetimeIndex`, but vary
    the combination of `start`, `end` and `periods`.

    Specify `start` and `end`, with the default daily frequency.

    >>> pd.date_range(start='1/1/2018', end='1/08/2018')
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start` and `periods`, the number of periods (days).

    >>> pd.date_range(start='1/1/2018', periods=8)
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `end` and `periods`, the number of periods (days).

    >>> pd.date_range(end='1/1/2018', periods=8)
    DatetimeIndex(['2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
                   '2017-12-29', '2017-12-30', '2017-12-31', '2018-01-01'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start`, `end`, and `periods`; the frequency is generated
    automatically (linearly spaced).

    >>> pd.date_range(start='2018-04-24', end='2018-04-27', periods=3)
    DatetimeIndex(['2018-04-24 00:00:00', '2018-04-25 12:00:00',
                   '2018-04-27 00:00:00'],
                  dtype='datetime64[ns]', freq=None)

    **Other Parameters**

    Changed the `freq` (frequency) to ``'M'`` (month end frequency).

    >>> pd.date_range(start='1/1/2018', periods=5, freq='M')
    DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
                   '2018-05-31'],
                  dtype='datetime64[ns]', freq='M')

    Multiples are allowed

    >>> pd.date_range(start='1/1/2018', periods=5, freq='3M')
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    `freq` can also be specified as an Offset object.

    >>> pd.date_range(start='1/1/2018', periods=5, freq=pd.offsets.MonthEnd(3))
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    Specify `tz` to set the timezone.

    >>> pd.date_range(start='1/1/2018', periods=5, tz='Asia/Tokyo')
    DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
                   '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
                   '2018-01-05 00:00:00+09:00'],
                  dtype='datetime64[ns, Asia/Tokyo]', freq='D')

    `closed` controls whether to include `start` and `end` that are on the
    boundary. The default includes boundary points on either end.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed=None)
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='left'`` to exclude `end` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='left')
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='right'`` to exclude `start` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='right')
    DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

In [87]:
today = datetime.date.today().strftime("%Y-%m-%d")
start = "2017-" + today
#dt_range = pd.date_range(start = , freq="M", periods= 25)
print(today.day,start)

AttributeError: 'str' object has no attribute 'day'

In [80]:
dt_range

DatetimeIndex(['2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30',
               '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31',
               '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
               '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30',
               '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31',
               '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31',
               '2019-08-31'],
              dtype='datetime64[ns]', freq='M')

In [76]:
for i in range(len(dt_range)-1):
    print(dt_range[i].strftime("%Y-%m-%d") + " and " + dt_range[(i+1)].strftime("%Y-%m-%d"))

2017-09-30 and 2017-10-31
2017-10-31 and 2017-11-30
2017-11-30 and 2017-12-31
2017-12-31 and 2018-01-31
2018-01-31 and 2018-02-28
2018-02-28 and 2018-03-31
2018-03-31 and 2018-04-30
2018-04-30 and 2018-05-31
2018-05-31 and 2018-06-30
2018-06-30 and 2018-07-31
2018-07-31 and 2018-08-31
2018-08-31 and 2018-09-30
2018-09-30 and 2018-10-31
2018-10-31 and 2018-11-30
2018-11-30 and 2018-12-31
2018-12-31 and 2019-01-31
2019-01-31 and 2019-02-28
2019-02-28 and 2019-03-31
2019-03-31 and 2019-04-30
2019-04-30 and 2019-05-31
2019-05-31 and 2019-06-30
2019-06-30 and 2019-07-31
2019-07-31 and 2019-08-31

In [91]:
today = datetime.date.today()

In [92]:
today.day

3

In [93]:
today.year - 2

2017

In [101]:
start = str(today.year - 2) + "-" + str(today.month) + "-" + str(today.day)

In [102]:
start

'2017-9-3'

In [104]:
html = BeautifulSoup(req.post(url, data = form).content).select_one("body > table:nth-child(9) > tbody > tr > td:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(1) > table")

KeyboardInterrupt: